.page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.page-not-found h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.page-not-found p {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.page-not-found a {
  font-size: 1.5rem;
  padding: 1rem;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.page-not-found a:hover {
  background-color: #0062cc;
}
