<div class="card mt-3">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="row mb-0">
            <h6 style="font-weight: bold">Title of Todo</h6>
          </div>
          <div class="row mt-0">
            <span style="font-size: 13px"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
              doloribus perspiciatis earum a at voluptates nobis fugiat,
              voluptatibus labore! Eius, itaque excepturi! Eaque reiciendis
              minima sit fugiat quia? Deleniti, explicabo.</span
            >
          </div>
        </div>

        <div class="col-md-2">
          <div class="container">
            <div class="row mt-2">
              <div class="col-md-10 offset-md-1">
                <button class="btn btn-danger btn-sm">Delete</button>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-10 offset-md-1">
                <button class="btn btn-primary btn-sm">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
